<!DOCTYPE html>
<html>
	<head>
		<title>Tesla Clone</title>
		<link rel="stylesheet" href="styles.css">
	</head>
	
	<body>
	  <header id="nav">
	  <div>
	  	  <ul id='nav-left'>
	  	   <li><a href="#">MODEL S</a></li>
	  	   <li><a href="#">MODEL X</a></li>
	  	   <li><a href="#">MODEL 3</a></li>
	  	   <li><a href="#">CHARGING</a></li>
	  	   <li><a href="#">ENERGY</a></li>
	  	   </ul>
	  </div>

	  <div>
	  	   <ul id='nav-right'>
	  	   <li><a href="#">UPDATES</a></li>
	  	   <li><a href="#">SUPPORT</a></li>
	  	   <li><a href="#">FIND US</a></li>
	  	   <li><a href="#">SHOP</a></li>
	  	   <li><a href="#">MY TESLA</a></li>
	  	   </ul>
	  </div>
  </header>
	  <div class="center">
	  <div>
	  	    <h1>Premium Electric Vehicles</h1>
	  	    
	  		<h2><a href="#">Learn about the Software 8.0 update</a></li>
	  	    </h2>
	  </div>	

	  <div id="search-buttons">
	  	<input type="button" class="button" id="order-yours" value="ORDER YOURS" />
	  	<input type="button" class="button" id="new-inventory" value="NEW INVENTORY" />
	  	<input type="button" class="button" id="test-drive" value="TEST DRIVE" />
	  </div>
	  </div>
</body>	
	<footer>
		<ul id="footer">
		  <li>Tesla Motors &copy: 2016</li>
		  <li>Privacy & Legal</li>
		  <li>Contact</li>
		  <li>Careers</li>
		  <li>Forums</li>
		  <li>Locations</li>
		  <li> <img src=https://upload.wikimedia.org/wikipedia/en/archive/a/a4/20151118161037!Flag_of_the_United_States.svg /> </li>
		  
		  </ul>
	</footer>


</html>